<div> <!-- Angular js Code -->
  <div class="py-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1 bg-primary text-center">
          <img alt="" src="assets/img/logoLF.gif" width="96" hight="96"  >
        </div>
        <div class="col-md-8 bg-primary text-center text-capitalize">

          <h2 class="display-4 my-5">Sorteggio gironi lega forum Stagione {{ stagione }}</h2>
        </div>
        <div class="col-md-1 bg-primary text-center">
          <img alt="" src="assets/img/logoLF.gif" width="96" hight="96"  >
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container-fluid">
      <div class="row m-2 h-25">
        <div class="col-md-4"></div>
        <div class="col-md-4 py-2">
          <a routerLink='/serie-a' class="btn btn-success w-100 text-white text-center h-75 btn-lg btn-block active">
            <h1> Serie A </h1>
          </a>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row m-2 h-25">
        <div class="col-md-4"></div>
        <div class="col-md-4 py-2">
          <a routerLink='/serie-b' class="btn btn-warning w-100 h-75 text-center btn-lg btn-block active">
            <h1> Serie B </h1>
          </a>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row m-2 h-25">
        <div class="col-md-4"></div>
        <div class="col-md-4 py-2">
          <a routerLink='/serie-c' class="btn btn-danger w-100 h-75 btn-lg btn-block active">
            <h1> Serie C </h1>
          </a>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-3">
          <a class="btn btn-info m-2 btn-lg" routerLink='/index-page' role="Button"> Torna al Menu Principale </a>
        </div>
        <div class="col-xs-9">
        </div>
      </div>
    </div>
  </div>

</div>

